target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/architecture/placeholder.txt
!**/src/test/resources/architecture/placeholder.txt

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/resources/architecture/placeholder.txt
!**/src/test/resources/architecture/placeholder.txt

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db
